<!DOCTYPE html>
<html ng-app="app">
	<head>
		<link rel="stylesheet" type="text/css" href="../styles/main.css">
		<link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
		<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
		<script src="../bower_components/moment/moment.js"></script>
		<script src="../bower_components/angular-moment/angular-moment.js"></script>
		<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>

		<script type="text/javascript" src="../scripts/responsive-type.js"></script>
		<script type="text/javascript" src="../scripts/util.js"></script>
		
		<script type="text/javascript" src="app.module.js"></script>
		<script type="text/javascript" src="BetController.js"></script>
		<script type="text/javascript" src="utilDirectives.js"></script>
		<title>Life Bet | Home</title>
	</head>
	
	<body>
		<nav>
			<div class="navbar-left"></div>
			<div class="navbar-line"></div>
			<div class="navbar-main">
				<ul>
					<li class = "active"><a href="index.html">Home</a></li>
					<li> | </li>
					<li><a>My Bets</a></li>
					<li> | </li>
					<li><a href="friends.html">Friends</a></li>
				</ul>
			</div>
			<div class="navbar-user">
				<div class="navbar-user-picture"></div>
				<div class="navbar-user-name">Emre Avci</div>
				<div class="navbar-logout"><i class="fa fa-lock"></i></div>
			</div>
		</nav>
		
		<div class="top-info-bar">
			Welcome back! Nice to see you Emre! Check out the new bets by your friends below.
		</div>
		<div class="new-bet">+</div>
		<div class="left-filter">
			<div class="filter-item">Most Popular<span class="triangle">&#9654;</span></div>
			<div class="filter-item">Recently Posted</div>
			<div class="filter-item">Ending Soon</div>
		</div>
		<div class="main-content" ng-controller="BetController as betCtrl">
			<div class="bet-post" ng-repeat="bet in betCtrl.bets">
				<div class="bet-post-main">
					<div class="bet-post-top-bar">{{bet.date | date : 'medium'}}</div>
					<div class="bet-post-info-bar">
						<div class="bet-post-owner-picture" back-img="{{'../' + bet.author.profilePicturePath}}"></div>
						<div class="bet-post-owner-name">{{bet.author.firstName + " " + bet.author.lastName}}</div>
						<div class="bet-post-diamond-sign">&#9670;</div>
						<div class="bet-post-diamond-count">{{bet.rating}}</div>
						<div class="bet-post-up-vote"><i class="fa fa-arrow-circle-up fa-2x"></i></div>
						<div class="bet-post-down-vote"><i class="fa fa-arrow-circle-down fa-2x"></i></div>
					</div>
					<hr>
					<div class="bet-post-content">{{bet}}</div>
					<div class="bet-post-footer">{{ bet.deadline | amDifference : null : 'days' }} days left</div>
				</div>
				<div class="bet-comments">
					<div class="bet-comment" ng-repeat="comment in bet.comments">
						<div class="bet-comment-owner-picture" back-img="{{comment.author.profilePicturePath}}"></div>
						<div class="bet-comment-owner-name">{{comment.author.firstName + " " + comment.author.lastName</div>
						<div class="bet-comment-content">{{comment.content}}</div>
						<!-- TODO voteUp -->
					</div>
				</div>
				<div class="post-comment">
					<input type="text" placeholder="Post a comment..."></input>
				</div>
			</div>
		</div>
	</body>
</html>