<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Life Bet | Login</title>
	<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/moment/moment.js"></script>
	<script src="../bower_components/angular-moment/angular-moment.js"></script>
	<script src="../bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
	<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script type="text/javascript" src="app.module.js"></script>
	<script type="text/javascript" src="LoginController.js"></script>
</head>
<body ng-controller="LoginController as loginController">
Email
<input ng-model="loginController.email" type="email"/>
Password
<input ng-model="loginController.password" type="password"/>
<button ng-click="loginController.login()">Login</button>
</body>
</html>