<div class="login-container" ng-controller="LoginController as loginController">
	<h2>Login</h2>
	<div class="login-input">
		<label for="email">Email</label><br>
		<input id="email" ng-model="loginController.email" type="email"/>
	</div>
	<div class="login-input">
		<label for="password">Password</label><br>
		<input id="password" ng-model="loginController.password" type="password"/>
	</div>
	<button class="login-button" ng-click="loginController.login()">Login</button>
	<button class="register-button" ui-sref="register">Create Account</button>
</div>