@import "../base/config";

.navbar-line {
    background-color: $color-light; 
}

.user-picture {
    background-size: cover;
    background-color: $color-gray;
}

.navbar-user-picture {
    @extend .user-picture;
    margin-left: 0em;
    background-size: cover;
}

.search-box {
    color: black;
}

.search-results {
    .user-picture {
        background-size: cover;
    }
    .user-name {
        border-top: 1px $color-main solid;
    }
    .navbar-search-result:last-of-type .user-name {
        border-bottom: 1px $color-main solid;
    }
    .navbar-search-result {
        background: $color-light;
        cursor: pointer;
    }
}

.top-info-bar {
    @extend .shadowed;
    background-color: $color-light;
    color: $color-main;
}

.new-bet {
    @extend .shadowed;
    background-color: $color-light;
    border-radius: 50%;
}

.filter-item {
    @extend .shadowed;
    background-color: $color-light;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid $color-light;
    float: right;
    position: relative;
    left: .8em;
    top: -.25em;
}

.triangle {
    text-shadow: 3px 4px 5px $color-gray;
    color: $color-light;
    font-size: 5.5em;
    float: right;
    position: relative;
    left: .4em;
    top: -.565em;
}

.bet-post-main {
    @extend .shadowed;
    background-color: $color-light;
}

.bet-post-top-bar {
    background-color: $color-main;
}

.bet-post-owner-picture {
    @extend .user-picture;
}

.bet-post-diamond-sign {
    color: $color-main;
    font-size: 3em;
    position: relative;
    top: -.35em;
    left: 3em;
    display: inline-block;
}

.bet-comment {
    @extend .shadowed;
    background-color: $color-light;
}

.bet-comment-owner-picture {
    @extend .user-picture;
}

.post-comment {
    border-color: $color-gray;
}

.profile-left {
    @extend .shadowed;
    background: $color-light;
}

.add-friend {
    background: $color-secondary;
    color: $color-light;
}