@import "config";

.top-info-bar {
    font-weight: 400;
    font-size: .8em;
}

.new-bet {
    font-weight: 400;
    font-size: 2.5em;
    line-height: 1.5em;
    text-align: center;
}

.navbar-main {
    text-align: left;
    font-weight: 500;
}

.navbar-user {
    font-size: .6em;
    color: $color-light;
}

.filter-item {
    text-align: left;
    font-size: .8em;
}

.bet-post-top-bar {
    text-align: right;
    font-size: .6em;
    color: $color-light;
}

.bet-post-info-bar {
    color: $color-main;
}

.bet-post-content {
    color: $color-main;
    font-size: .9em;
}

.bet-post-footer {
    color: $color-secondary;
    font-size: .6em;
}

.bet-comment-content {
    font-size: .9em;
}

.new-bet-top-bar {
    font-size: 1em;
    text-align: left;
}
.add-friend {
    color: $color-light;
}
.bet-post-button {
    text-align: center;
    color: $color-light;
}

.login-container {
    h2 {
        text-align: center;
        color: $color-secondary;
    }
    .login-input {
        label {
            color: $color-main;
            font-weight: bold;
        }
    }
    .login-button {
        color: $color-light;
        line-height: 2em;
    }
}
.form-label {
    color: $color-main;
    font-weight: bold;
}
.upload-button {
    color: $color-light;
    line-height: 100%;
    i.fa {
        line-height: 100%;
    }
}